.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
  
h2 {
    margin-bottom: 1rem;
}
  
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
}
  
input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}
  
.boton-signup {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #1c8adb;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.boton-signup:hover {
    background-color: #0e6eb8;
}
